<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    
    <style>
      body {
      background-image: url("/static/img/3.jpg");
      }
    </style>
  </head>
  

  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Jerry Wang, M.A Computer Science Brandeis class of 2017</h1>
        <h3 class="text-muted">Aspiring Software Engineer interested in big data, machine learning and mobile applications</h3>
      </div>
      
      Please try my facial detection feature! Upload an image file (.png or .jpg) to see if I can detect any faces in the picture: using the magic of opencv, I will attempt to draw a blue rectangle around any faces and green rectangles around any eyes that opencv's facial recognition algorithm detects.  
      <div>
      <br></br>      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      {% if nofile %}
      <br>
      <div>{{ nofile }}</div>
      </br>
      {% endif %}
      </div>
    </div>
    
    <p align="center">
      <a href="{{ url_for('static',filename='JWang Resume.pdf') }}">Check out my Résumé!</a> 
      | 
      <a href = https://github.com/notimeleft> Take a look at my code on Github!</a>
      |
      <a href = https://www.linkedin.com/in/jerry-wang-63a0a911b> Connect with me on LinkedIn!</a>
    </p>

    

    <p align="center">
      My personal Email: 
      <a href>jerry.wang.ct@gmail.com</a>
    </p>

        


    <p align="center">
      This web page was built using only a few files in flask, the pdf upload portion follows a simple tutorial by Miguel Molina and the facial recognition feature follows multiple tutorials on heroku and opencv. 
    </p>  
    <p align="center">  
      Check Miguel's tutorial out here: 
      <a href = http://code.runnable.com/UiPcaBXaxGNYAAAL/how-to-upload-a-file-to-the-server-in-flask-for-python> pdf upload tutorial</a>
      <br>
      </br>
      And this is the Heroku buildpack I used to compile opencv's library to use its awesome facial detection algorithm: 
      <a href = https://github.com/kennethreitz/conda-buildpackhow-to-upload-a-file-to-the-server-in-flask-for-python> python opencv buildpack for heroku</a>

    </p>



  </body>
</html>
 